page-profile {

.validationTopMargin {
    margin-top:15px;
}


.alert {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.tabsSpacing {
    padding: 25px;
    margin: 10px;
}

}
