page-home {

.header {
    text-align: center;
}

.deleteBtn {
    margin-top:30px;
}

.createdBy {
    font-size: 14px;
}

.rowBorder {
    border-bottom: 1px solid black;
}

p {
    font-family: sans-serif;
    font-size: 20px;
}

}


